.App {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App-header {
  background-color: #28272b;
  min-height: 20vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 0, 0);

}

.home {
  display: flex;
  height: 100vh;
  background-color: #28272b;
  color: white;
  box-sizing: border-box;
}
.about{
align-items: center;
 margin-left: 5%;
  font-size: larger;
}
.content {
  width: 60%;
  background-image: url(data/images/top-view-whole-pepperoni-pizza-with-sesame-sprinkles-top.jpg);
  background-size: cover;
  border-radius: 40px;
  margin:0% 5%;
}

.menu {
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.foodList {
  color: rgb(69, 69, 69);
  display: flex;
  margin: 5%;
  border-radius: 50px;
  background-color: rgb(219, 217, 217);
  justify-content: space-around;
  align-items: center;
  height: 200px;
}


.foodImg {
  border-radius: 50px;
  width: 30%;
  height: 90%;
  background-size: cover;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}


input,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
 width: 150px;
 height: 50px;
  background-color:rgb(69, 69, 69);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #999999;
    transform: scale(1.03);
}

.select-food {
  margin-bottom: 15px;
}
li{
margin:4%;
}
#orderList{
  text-align: center;
}
